.main {
    overflow: hidden;
}

.join-us-pic-container {
    width: 43em;
    height: 33em;
    border: 6px solid black;
    overflow: hidden;
    margin-top: 2em;
}

.join-us-pic {
    width: 43em;
    height: 33em;
}

.video {
    width: 33.5em;
    height: 19em;
    border: 5px solid black;
    margin-top: 2em;
}

.requirements {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    width: 25em;
}

.main > .requirements {
    padding: 3em 4em 1em 4em;
}

.requirements > h3 {
    padding-bottom: 1em;
}

.requirements > ul {
    list-style-position: inside;
}

ul li {
    display: inline-block;
    text-indent: -.8em;
    padding: .2em;
}

li:before {
    content: "- "
}

@media all and (max-width: 1024px) {

    .requirements {
        width: 24em;
        font-size: 1.6em;
    }

    .main > .requirements {
        padding: 3em 1.5em 1em 1.5em;
    }

    .requirements > ul {
        text-align: justify;
        padding-left: 3em;
    }

    .video {
        width: 43em;
        height: 24em;
    }
}

@media all and (max-width: 767px) {

    .main {
        margin-bottom: 5em;
    }

    .main > .requirements {
        width: 20em;
        font-size: 1.8em;
    }

    .requirements > ul {
        text-align: left;
        padding-left: 2em;
    }

    .join-us-pic-container {
        width: 28em;
        border: 4px solid black;
        margin-top: 3em;
    }

    .join-us-pic {
        position: relative;
        right: 6em;
    }

    .video {
        width: 28em;
        height: 16em;
        margin-top: 3em;
    }
}