:root {
    font-size: .9vw;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    background: #052a04 url("pics/back.jpg") no-repeat 0 30% fixed;
    background-size: cover;
}

.top-banner {
    width: 100%;
    position: fixed;
    top: 0;
    height: 2.2em;
    background-image: url("pics/moro.jpg");
    background-position: 0 60%;
    background-repeat: repeat;
    border-bottom: 3px solid black;
    z-index: 100;
}

.title-banner {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    top: 2em;
    height: 8em;
    display: flex;
    border: 3px solid black;
    align-items: center;
    z-index: 10;
}

.page-title {
    text-transform: uppercase;
    color: white;
    font-size: 4.4em;
    padding-left: 5rem;
    text-shadow: 6px 6px black;
}
.page-subtitle {
    color: white;
    font-size: 1.2em;
    padding-left: 5rem;
    font-weight: 600;
    text-shadow: 3px 3px black;
}

.images-part-title-banner {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4em;
}

.dragon {
    width: 7.3rem;
    height: 7.3rem;
    margin-left: 1em;
    margin-right: .2rem;
}

.eagle {
    width: 6.5rem;
    height: 7.5rem;
}

.main-container {
    display: flex;
    justify-content: flex-end;
    margin: 13em 0 1em 0;
}

.main {
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    width: 70%;
    align-items: center;
    color: white;
    flex-direction: column;
    font-size: 1.3em;
    margin-right: 5em;
    margin-bottom: 4em;
    box-shadow: 5px 5px black;
    border: 1px solid black;
}

.main > h2 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 5px 4px black;
}

.main > p {
    padding: 3em 4em 1em 4em;
}

.main:first-child {
    padding-top: 4em;
}

.main:last-child {
    padding-bottom: 4em;
}

.lower-banner {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 2.1em;
    background-image: url("pics/moro.jpg");
    background-position: 0 60%;
    background-repeat: repeat;
    border-top: 3px solid black;
    z-index: 1;
}

@media all and (max-width: 1024px) {

    :root {
        font-size: 1vw;
    }

    body {
        background-position: 20% 30%;
    }

    .top-banner {
        height: 5.2em;
    }

    .title-banner {
        top: 5.2em;
        height: 14em;
    }

    .page-subtitle {
        display: none;
    }

    .page-title {
        font-size: 10.7em;
    }

    .eagle {
        width: 12.5rem;
        height: 13.5rem;
    }

    .dragon {
        width: 14.3rem;
        height: 13.3rem;
        margin-right: 1.2rem;
    }

    .main-container {
        justify-content: center;
    }

    .main > p {
        padding: 2em 2em 0 2em;
    }

    .main {
        width: 90%;
        font-size: 2em;
        margin-right: 0;
        box-shadow: 8px 10px black;
        border: 3px solid black;
        text-align: center;
        margin-bottom: 5em;
    }

    .main-container {
        margin: 25em 0 1em 0;
    }

    .main > p {
        font-size: 1.6em;
    }

    .main > h2 {
        font-size: 3.7em;
        text-shadow: 5px 5px black;
    }

    .lower-banner {
        height: 5.2em;
    }
}

@media all and (max-width: 767px) {

    body {
        background-position: 32% 30%;
    }

    .top-banner {
        height: 7.3em;
    }

    .main {
        background: rgba(0, 0, 0, 0.6);
    }

    .main-container {
        margin: 30em 0 1em 0;
    }

    .main > h2 {
        font-size: 3em;
        text-shadow: 4px 4px black;
    }

    .main {
        box-shadow: 4px 4px black;
        font-size: 3em;
        margin-bottom: 5em;
    }

    .main > p {
        padding: 2em 1em 0 1em;
        font-size: 1.8em;
    }

    .main:first-child {
        padding-top: 2em;
    }

    .main:last-child {
        padding-bottom: 2em;
    }

    .title-banner {
        border-top: 3px solid black;
        top: 7em;
        height: 18em;
    }

    .page-title {
        font-size: 10.7em;
        text-shadow: 5px 5px black;
    }

    .lower-banner {
        height: 7.3em;
    }
}

@media all and (max-width: 1024px) and (orientation: landscape){

    .top-banner {
        height: 3.2em;
    }

    .title-banner {
        top: 3em;
        height: 9em;
    }

    .page-title {
        font-size: 7.5em;
    }

    .eagle {
        width: 7.5rem;
        height: 8.5rem;
    }

    .dragon {
        width: 10.3rem;
        height: 9.3rem;
    }

    .main-container {
        margin: 18em 0 1em 0;
    }

    .main > h2 {
        font-size: 3.3em;
    }

    .lower-banner {
        height: 3.2em;
    }
}

@media all and (max-width: 767px) and (orientation: landscape){

    .main {
        font-size: 2em;
    }
}
