:root {
    font-size: .9vw;
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

html, body {
    overflow-y: hidden;
    color: white;
    height: 100%;
    background-color: #052a04;
}

.top-banner {
    width: 100%;
    position: fixed;
    top: 0;
    height: 2.2em;
    background-image: url("pics/moro.jpg");
    background-position: 0 60%;
    background-repeat: repeat;
    border-bottom: 3px solid black;
    z-index: 100;
}

.title-banner {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    top: 2em;
    height: 8em;
    display: flex;
    border: 3px solid black;
    align-items: center;
    z-index: 10;
}

.title-part-title-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 2;
}

.page-title {
    text-transform: uppercase;
    color: white;
    font-size: 4.4em;
    padding-left: 5rem;
    text-shadow: 6px 6px black;
}
.page-subtitle {
    color: white;
    font-size: 1.2em;
    padding-left: 5rem;
    font-weight: 600;
    text-shadow: 3px 3px black;
}

.images-part-title-banner {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4em;
}

.dragon {
    width: 7.3rem;
    height: 7.3rem;
    margin-left: 1em;
    margin-right: 1.2em;
}

.eagle {
    width: 6.5rem;
    height: 7.5rem;
}

.slides-container {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
}

.slide {
    display: flex;
    flex: 1;
    transition: flex .5s;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid rgba(0, 0, 0, .9);
    justify-content: center;
}

.news {
    background-image: url("pics/soldier-on-shooting-range.jpg");
}

.about-us {
    background-image: url("pics/our-military-unit.jpg");
}

.contact {
    background-image: url("pics/kbk-ak-wz-47.jpg");
}

.support-us {
    background-image: url("pics/maneuvers-in-forest.jpg");
}

.join-us {
    background-image: url("pics/running-into-military-truck.jpg");
}

.overlay {
    position: relative;
}

.overlay:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .5s;
}

.overlay:hover:after  {
    opacity: .8;
}

.green:after {
    background-color: #0d3c09;
}

.slide:hover {
    flex: 2.2;
    cursor: pointer;
}

.slide:hover .text-div {
    opacity: 1;
    transition: opacity .8s ease-in;
}

.text-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    z-index: 1;
    font-size: 1.3em;
    opacity: 0;
    transition: opacity 130ms ease-in;
    text-shadow: 2px 2px black;
    text-align: center;
}

.text-div  h2 {
    font-size: 1.9em;
    text-shadow: 4px 4px black;
    padding-bottom: 1em;
}

.lower-banner {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 2.1em;
    /*background: rgba(0, 0, 0, 0.8);*/
    background-image: url("pics/moro.jpg");
    background-position: 0 60%;
    background-repeat: repeat;
    border-top: 3px solid black;
    z-index: 1;
}

.swiper-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.swiper-wrapper {
    display: flex;
}

.swiper-button-next {
    right: 0;
}

.swiper-button {
    outline: none;
    position: fixed;
    top: 50%;
    z-index: 1;
}

.no-display {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

@media all and (max-width: 1024px) {

    :root {
        font-size: 1vw;
    }

    .top-banner {
        height: 5.2em;
    }

    .title-banner {
        top: 5.2em;
        height: 14em;
    }

    .page-subtitle {
        display: none;
    }

    .page-title {
        font-size: 10.7em;
    }

    .eagle {
        width: 12.5rem;
        height: 13.5rem;
    }

    .dragon {
        width: 14.3rem;
        height: 13.3rem;
    }

    .slide {
        width: 100vw;
    }

    .text-div {
        opacity: 1;
        font-size: 4em;
        text-shadow: 3px 3px black;
    }

    .overlay {
        opacity: .8;
    }

    .green {
        background-color: rgba(24, 74, 20, 0.64);
    }

    .slide:hover {
        flex: 1;
    }

    .slide-title {
        background-color: rgba(13, 60, 9, 0.8);
        width: 100vw;
        padding-top: .5em;
    }

    .slide-subtitle {
        width: 100vw;
        background-color: rgba(13, 60, 9, 0.8);
        padding-bottom: .9em;
        padding-top: .5em;
    }

    .text-div > a > h2 {
        font-size: 1.9em;
        text-shadow: 5px 5px black;
    }

    .lower-banner {
        height: 5.2em;
    }
}

@media all and (max-width: 767px) {

    .top-banner {
        height: 7.3em;
    }

    .title-banner {
        border-top: 3px solid black;
        top: 7em;
        height: 18em;
    }

    .text-div > a > h2 {
        text-shadow: 3px 3px black;
        padding-bottom: .5em;
    }

    .text-div {
        text-shadow: 1px 1px black;
    }

    .lower-banner {
        height: 7.3em;
    }
}

@media all and (max-width: 1024px) and (orientation: landscape){

    .top-banner {
        height: 3.2em;
    }

    .title-banner {
        top: 3em;
        height: 9em;
    }

    .page-title {
        font-size: 7.5em;
    }

    .eagle {
        width: 7.5rem;
        height: 8.5rem;
    }

    .dragon {
        width: 10.3rem;
        height: 9.3rem;
    }

    .slide {
        background-position-y: 30%;
    }

    .text-div {
        font-size: 2.5em;
    }
    .lower-banner {
        height: 3.2em;
    }

    .swiper-button {
        top: 45%;
    }
}























