.map {
    margin-top: 2em;
    width: 35em;
    height: 25em;
    border: 5px solid black;
}

.contact-div-container {
    display: flex;
    flex-direction: column;
    padding: .5em .3em 0 .3em;
    margin: 2em 0 1em 0;
    text-align: left;
    text-shadow: 2px 2px black;
    font-size: 1.2em;
    font-weight: 900;
    background-image: url("../pics/moro.jpg");
    border: 5px solid black;
}

.contact-div {
    display: flex;
    flex-direction: row;
}

.contact-div-text {
    text-transform: uppercase;
    padding-right: 1em;
}

.contact-div-text > p {
    padding-bottom: .5em;
}

.phone,
.email {
    display: block;
    padding-bottom: .5em;
}

.messenger-link {
    background-color: #2075fc;
    border-radius: .5em;
    display: flex;
    align-items: center;
    align-self: center;
    padding-bottom: 0;
    border: 3px solid black;
    margin: 1em;
    transition: .5s background-color;
}

.messenger-link:hover {
    background-color: #1054a8;
}

.messenger-link > p {
    display: inline;
    padding: .3em .6em .3em .3em;
}

.messenger-logo {
    width: 2em;
    height: 2em;
    margin: .2em;
}

.main > p {
    padding: 3em 13em 1em 13em;
}

@media all and (max-width: 1024px) {

    .main > p {
        padding: 2em 2em 0 2em;
    }

    .contact-div-container {
        font-size: 1.9em;
    }
}

@media all and (max-width: 767px) {

    .map {
        width: 28em;
        margin-top: 3em;
    }

    .main > p {
        padding: 2em 1em 0 1em;
    }

    .contact-div-container {
        font-size: 1.5em;
        text-shadow: 2px 2px black;
        border: 4px solid black;
    }

    .messenger-link {
        border: 2px solid black;
    }
}