.about-us-pic-container {
    border: 6px solid black;
    width: 40em;
    height: 45em;
    margin-top: 2em;
    overflow: hidden;
}

.about-us-pic {
    width: 40em;
    height: 45em;
}


@media all and (max-width: 1024px) {

    .about-us-pic-container {
        width: 42em;
        height: 33em;
    }

    .about-us-pic {
        width: 42em;
    }
}

@media all and (max-width: 767px) {

    .about-us-pic-container {
        border: 3px solid black;
        width: 27em;
        height: 26em;
        margin-top: 3em;
    }
    .about-us-pic {
        width: 27em;
        height: 29em;
    }
}