.support-us-pic-container {
    border: 6px solid black;
    width: 50em;
    height: 28em;
    margin-top: 2em;
    overflow: hidden;
}

.support-us-pic {
    width: 55em;
    height: 38em;
    position: relative;
    top: -3em;
}

.main {
    overflow: hidden;
}

.main-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.main-logo-image {
    width: 13em;
    height: 13em;
    margin: 2em 2em 0 2em;
}

.transfer-info-container {
    display: grid;
    grid-template-columns: .3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 2em 0 1em 0;
    text-align: left;
    text-shadow: 2px 2px black;
    font-size: 1.3em;
    font-weight: 900;
    background-image: url("../pics/moro.jpg");
    background-size: cover;
    border: 5px solid black;
    padding: .6em;
    align-items: center;
    grid-row-gap: .2em;
}

aside {
    padding: 3em 9.5em 0 9.5em;
    font-style: italic;
    font-size: .9em;
}

.block {
    display: block;
}

@media all and (max-width: 1024px) {

    .support-us-pic-container {
        width: 42em;
    }

    .support-us-pic {
        width: 58em;
        left: -6em;
    }

    .support-us-pic:hover {
        width: 42em;
        height: 45em;
    }

    .transfer-info-container {
        margin: 2em 1em 1em 1em;
    }

    aside {
        padding: 2em 5.5em 1em 5.5em;
        font-size: 1.3em;
    }

    .transfer-info-container {
        padding-bottom: 0;
    }
}

@media all and (max-width: 767px) {

    .support-us-pic-container {
        border: 3px solid black;
    }

    .support-us-pic-container {
        width: 27em;
        height: 20em;
        margin-top: 3em;
    }

    .support-us-pic {
        width: 49em;
        height: 25em;
        left: -10em;
        top: -1em;
    }

    .support-us-pic:hover {
        width: 27em;
        height: 29em;
    }

    .transfer-info-container {
        grid-column-gap: 1em;
        grid-row-gap: .5em;
    }

    aside {
        padding: 2em 1em 0 1em;
        font-size: 1.4em;
    }
}